<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BookCategory</key>
	<array>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>玄幻</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/104/%d.html</string>
		</dict>
		<dict>
			<key>categoryname</key>
			<string>奇幻</string>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/510/1.html</string>
		</dict>
		<dict>
			<key>categoryname</key>
			<string>都市</string>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/105/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>言情</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/511/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>武侠</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/109/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>仙侠</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/513/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>校园</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/144/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>历史</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/108/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>军事</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/447/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>科幻</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/110/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>网游</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/107/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>竞技</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/512/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>同人</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/515/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>聆美</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/448/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>短篇</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/449/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>恐怖</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/111/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>categoryname</key>
			<string>诗词</string>
			<key>description</key>
			<string>描述分类</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/516/1.html</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>description</key>
			<string>描述分类</string>
			<key>categoryname</key>
			<string>其他</string>
			<key>url</key>
			<string>http://www.7788xiaoshuo.com/list/112/1.html</string>
		</dict>
	</array>
</dict>
</plist>
